.team, .project
  &.tiny
    margin-left: 2px
    border-radius: 3px
.bookmark
  top: -25%
  position: relative
img.avatar
  width: 32px
  height: 32px
img.tiny
  vertical-align: bottom
  width: 15px
  height: 15px  
  margin-top: -2px
  display: inline-block