.buttonContainer
  display: flex
  justify-content: space-between
  flex-wrap: nowrap
  margin-top: 5px
  position: relative
  > div
    display: inline-flex
  
.buttonWrap:not(:last-child)
  margin-right: 5px
    
.embedWrap
  height: 500px
