@require '../constants'

.projectsGrid
  --row-gap: 20px
  --min-width: 300px
  align-items: end
  
.projectsGridCompact
  --row-gap: 20px 
  --min-width: 250px 
  align-items: end
  
.projectsRow
  --min-width: 180px
  align-items: flex-end

.projectsItem
  display: flex
  flex-direction: column
  justify-content: flex-end
  height: 100%
    
.projectsContainerNote
  margin-bottom: -1rem
  width: 95%
  &:empty
    margin-bottom: 0
    
.visibleOnFocus
  position: absolute
  left: -1000px
  top: -1000px
  width: 1px
  height: 1px
  text-align: left 
  overflow: hidden
  z-index: 1

.visibleOnFocus:focus, .visibleOnFocus:active
  position: absolute 
  left: 0
  top: 0
  width: auto
  height: auto
  overflow: visible
  margin: 8px