@import '../../components/constants.styl';

u0 = 2px
u05 = 4px
u1 = 5px
u2 = 10px
u3 = 16px
u4 = 32px
u5 = 50px

.main
  max-width: 1100px
  margin: auto
.section + .section
  margin-top: 60px

.content
  padding: 1rem 2rem
  margin-left: auto
  margin-right: auto
  width: 100%
  max-width: 1207px
  @media (max-width: smallViewport)
    padding-left: 20px
    padding-right: 20px

.headerWrap
  margin-top: 16px

.logoWrap
  flex: 0 0 70px
  margin-right: 10px

.logo
  width: 100%

.headerActions
  flex: 0 1 auto
  a
    color: #000;
    margin: 0 6px;

.header
  display: flex
  flex-direction: row
  justify-content: space-between
  position: relative


.logoWrap
  flex: 0 0 70px
  margin-right: 10px

.logo
  width: 100%


.visibleOnFocus
  position: absolute
  left: -1000px
  top: -1000px
  width: 1px
  height: 1px
  text-align: left 
  overflow: hidden
  z-index: 1

.visibleOnFocus:focus, .visibleOnFocus:active
  position: absolute 
  left: 0
  top: 0
  width: auto
  height: auto
  overflow: visible
  margin: 8px
/*
.bannerShape
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 300px;
  width: 80%;
  max-width: 410px;

.bannerTagline 
  position: relative;
  top: 0%;
  left: 22%;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  font-size: 32px;

.bannerIllustration 
  width: 50%

.banner 
  display: flex */

.banner
  display: flex
  flex-wrap: wrap
  align-items: center
  @media (min-width: mediumLargeViewport)
    flex-wrap: nowrap
  @media (min-width: largeViewport)
    padding: 0 u4
.bannerShape
  position: relative
  flex: 100%
  background-repeat: no-repeat
  background-size: contain
  width: 100%
  max-width: 410px
  height: 350px
  @media (max-width: mediumSmallViewport)
    margin: auto
  @media (min-width: mediumSmallViewport)
    height: 360px
  @media (min-width: mediumViewport)
    flex: 1.8
  @media (min-width: hugeViewport)
    flex: 2.2
.bannerText
  position: absolute
  left: 50px
  top: 5px
  max-width: 275px
  p
    margin-left: 1rem
    @media (min-width: mediumViewport)
      margin-left: 0
      font-size: inherit
  @media (min-width: smallViewport)
    left: 60px
    top: 20px
  @media (min-width: mediumViewport)
    left: 65px
  @media (min-width: largeViewport)
    left: 80px
    top: 20px
    
.bannerTagline
  font-size: 32px
  transform: rotate(-5deg)
.bannerIllustration
  flex: 100%
  order: -1
  text-align: center
  z-index: 1
  margin-bottom: -40px
  @media (min-width: mediumSmallViewport)
    img
      max-width: 90%
  @media (min-width: mediumViewport)
    flex: 1.5
    order: 0
    margin-bottom: 0
    img
      max-width: 100%
      padding: 0 u3
  @media (min-width: mediumLargeViewport)
    img
      padding: 0 u4
  @media (min-width: hugeViewport)
    flex: 3
    img
      max-width: 95%
      padding: 0 u5