.icon 
  display: inline-block
  background-repeat: no-repeat
  cursor: pointer
  background-position: center
  vertical-align: middle

.left-arrow
  background-image: url(https://cdn.glitch.com/c53fd895-ee00-4295-b111-7e024967a033%2Fleft-arrow.svg?1530884400171);
  width: 10px
  height: 10px